/*
COLOR PALETTE:
#f2f2f2 - Background;
#05386b - Primary
#212121 - Metadata & Channels
#333333 - Text Messages
#8ee4af - Accent Color
#191919 - Accent Color Text
*/

/* General Stuff */


/* Fixes the bug where some png images are not transparent */
img {
	background-color: transparent;
}
* {
	font-family: "Arial", sans-serif;
	background-color: #f2f2f2;
	line-height: 90%;
}
.upper {
	text-transform: uppercase;
}
.margin-0 * {
	margin: 0;
}
/* Headings */
.heading {
	background-color: #05386b;
	color: white;
	padding-bottom: 7px;
}
/* Fixes the problem/s for the second title */
.heading > .upper {
	background-color: inherit;
	color: inherit;
}


.msg-channels-list {
	color: #212121;
	list-style-type: none;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 7px;
}
.msg-channels-list li{
	background-color: white;
	padding: 2px;
}
.metadata {
	color: #212121;
	font-size: medium;
}
.message {
	color: #333333;
	background-color: white;
}

/* Buttons */
button {
	background-color: #5cdb95;
	border: none;
	padding: 4px;
	text-transform: uppercase;
	transition: 0.3s;
	color: #191919;
}
button:hover {
	background-color: #49bc7c;
}
.heading-buttons {
	padding: 15px;
	text-align: center;
	background-color: white;
}